{% extends "base.html" %}

{% block title %}Képességek{% endblock %}

{% block content %}
<div class="page-container">
    <h1 class="page-title">Képességek</h1>
    <div class="content-box">
        <ul class="hierarchical-list">
            <li class="list-item">
                <div class="list-item-header">
                    <div class="list-item-title">
                        <span>Gyors tanulási készség</span>
                    </div>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-header">
                    <div class="list-item-title">
                        <span>Szorgalom és precizitás</span>
                    </div>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-header">
                    <div class="list-item-title">
                        <span>Csapatmunka</span>
                    </div>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-header">
                    <div class="list-item-title">
                        <span>Felelősségvállalás</span>
                    </div>
                </div>
            </li>
            <li class="list-item">
                <div class="list-item-header">
                    <div class="list-item-title">
                        <span>Empátia</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
